body{
    font-family: 'Sofia', sans-serif;
    font-size: 30px;
    background-color: #faedf6;
}

header{
    background:#f7eff4;
    border-bottom:#ffa1e4 solid 1.5px;
}
div.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #A7DEB3;
    text-align: center;
}
a{
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #A7DEB3;
    font-size: 20px;
    
}

.card body{
    min-width: 1000px;
    max-width: 1000px;
}

.carousel-inner .carousel-item img {
    width: 100%;      
    height: 100%; 
}

.carousel-control-prev, .carousel-control-next{
    color: #da9bc4;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #da9bc4;
}
